.OnboardingResponse-icon {
  display: inline-block;
  width: var(--spacing-unit-xl);
  height: var(--spacing-unit-xl);
  padding: var(--spacing-unit-s);

  border-radius: 50%;
  color: #fff;
  background-color: var(--color-text);
}

.OnboardingResponse--success .OnboardingResponse-icon {
  background-color: var(--color-green);
}

.OnboardingResponse--error .OnboardingResponse-icon {
  background-color: var(--color-red);
}
