* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: var(--font-size);
    line-height: var(--spacing-unit);

    background-color: var(--color-bg);
    color: var(--color-text);

    font-family: var(--font-family);
}

input, button, textarea {
    font-size: var(--font-size);
    line-height: var(--spacing-unit);
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}
