* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--font-size);
  line-height: var(--spacing-unit);

  background-color: var(--color-bg);
  color: var(--color-text);

  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  flex-grow: 1;
}

input,
button,
textarea {
  font-size: var(--font-size);
  line-height: var(--spacing-unit);
  font-family: var(--font-family);
}

input:not([type='checkbox']):not([type='radio']):focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: var(--input-focus-shadow);
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 600;
}
