.text-serif {
  font-family: var(--font-family-serif);
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.rich-content > h1,
.rich-content > h2,
.rich-content > p,
.rich-content > ul,
.rich-content > ol {
  margin-bottom: var(--spacing-unit);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  position: absolute;
  top: var(--spacing-unit-s);
  left: var(--spacing-unit-s);
  transform: translateY(-9999px);
  z-index: 9999;

  padding: var(--spacing-unit-xs) var(--spacing-unit-s);
  border: 2px solid var(--color-blue);
  border-radius: var(--border-radius);
  background-color: #fff;
}

.skip-link:focus {
  transform: translateY(0);
}
