.smooth-scrolling {
  scroll-behavior: smooth;
}

.text-serif {
  font-family: var(--font-family-serif);
}

.text-justify {
  text-align: justify;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.rich-content > h1,
.rich-content > h2,
.rich-content > p,
.rich-content > ul,
.rich-content > ol {
  margin-bottom: var(--spacing-unit);
}
