:root {
  --font-size: 20px;
  --line-height: 30px;
  --font-size-s: 0.85rem;
  --font-size-xs: 0.75rem;

  --spacing-unit: 30px;
  --spacing-unit-s: calc(0.5 * var(--spacing-unit));
  --spacing-unit-xs: calc(0.25 * var(--spacing-unit));
  --spacing-unit-l: calc(1.5 * var(--spacing-unit));
  --spacing-unit-xl: calc(2 * var(--spacing-unit));

  --grid-max-width: 44rem;
  --grid-max-width-s: 32rem;
  --grid-max-width-l: 56rem;

  --border-radius: 3px;
  --border-radius-l: 9px;

  --color-blue: #007eff;
  --color-blue-dark: #1a2d3a;
  --color-blue-light: #7ac8ff;
  --color-blue-lightest: #dbefff;

  --color-blue-gray-dark: #386382;

  --color-green: #3cb868;
  --color-green-dark: #0d6b37;
  --color-green-light: #88cc7b;
  --color-green-lightest: #e3f1df;

  --color-red: #c50834;
  --color-red-light: #f99cb4;
  --color-red-lightest: #ffe2e9;
  --color-red-dark: #79001c;

  --color-gray: #888;
  --color-gray-light: #e9edf0;
  --color-gray-dark: #333;

  --color-pink: #f4177a;

  --color-bg: #fff;
  --color-text: #333;
  --color-text-light: #666;
  --color-primary: var(--color-pink);
  --color-accent: var(--color-blue);
  --color-border: #ccc;
  --color-focus: var(--color-blue);
  --color-focus-outline: var(--color-blue-light);

  --font-family: Inter, Helvetica Neue, Helvetica, sans-serif;

  --input-border-width: 1px;
  --input-focus-shadow: 0 0 0 3px #007eff40;
  --input-padding: calc(0.33 * var(--spacing-unit)) var(--spacing-unit-s);
  --input-padding-s: var(--spacing-unit-xs) var(--spacing-unit-s);
  --input-margin: var(--spacing-unit-xs) 0;

  --soft-shadow: 0 0 3px -3px rgba(0, 0, 0, 0.1), 0 3px 15px rgba(0, 0, 0, 0.1);
}
