:root {
    --font-size: 20px;
    --line-height: 30px;

    --spacing-unit: 30px;
    --spacing-unit-s: calc(.5 * var(--spacing-unit));
    --spacing-unit-xs: calc(.25 * var(--spacing-unit));
    --spacing-unit-l: calc(1.5 * var(--spacing-unit));
    --spacing-unit-xl: calc(2 * var(--spacing-unit));

    --grid-max-width: 44rem;

    --border-radius: 5px;

    --color-bg: #fff;
    --color-text: #333;
    --color-primary: #333;
    --color-border: #ccc;

    --font-family: system-ui, Helvetica Neue, Helvetica, sans-serif;

    --input-padding: var(--spacing-unit-s) var(--spacing-unit-s);
    --input-margin: var(--spacing-unit-xs) 0;
}
