.DeviceFrame {
  position: relative;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25))
    drop-shadow(0 25px 15px rgba(0, 0, 0, 0.2));
}

.DeviceFrame svg {
  display: block;
  fill: var(--color-gray);
}

.DeviceFrame-screen {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: white;
  clip-path: url(#device-clip-path);
}
