.OnboardingChannelsCheckboxes {
  border: 0;
}

.OnboardingChannelsCheckboxes-legend {
  display: block;
  font-weight: 600;
  font-size: var(--font-size);
}

.OnboardingChannelsCheckboxes-helpText {
  font-size: var(--font-size-s);
  color: var(--color-text-light);
}

.OnboardingChannelsCheckboxes-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.OnboardingChannelsCheckboxes-listItem {
  display: flex;
  align-items: center;
}

.OnboardingChannelsCheckboxes-listItem > .Checkbox {
  margin-right: var(--spacing-unit-xs);
}
