.OnboardingChannelButtons {
  display: grid;
  gap: var(--spacing-unit);
  grid-template-columns: 1fr;
}

.OnboardingChannelButtons > .Button {
  display: flex;
  justify-content: center;
}

.OnboardingChannelButtons svg {
  width: var(--spacing-unit);
  margin-right: var(--spacing-unit-xs);
}

@media screen and (min-width: 640px) {
  .OnboardingChannelButtons {
    grid-template-columns: repeat(3, 1fr);
  }

  .OnboardingChannelButtons--twoColumn {
    grid-template-columns: repeat(2, 1fr);
  }

  .OnboardingChannelButtons--threeColumn {
    grid-template-columns: repeat(6, 1fr);
  }

  .OnboardingChannelButtons--threeColumn > .Button {
    grid-column: span 2;
  }

  .OnboardingChannelButtons--threeColumn
    > .Button:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }

  .OnboardingChannelButtons--threeColumn
    > .Button:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
}
