<div <%= attrs %>>
  <% channels.each do |channel| %>
    <%= c 'button',
      link: send("organization_onboarding_#{channel}_path", organization),
      styles: [:primary] do
    %>
      <%= svg "channel_#{channel}" %>
      <%= t(".#{channel}") %>
    <% end %>
  <% end %>
</div>
