<%= c 'stack', space: :small do %>
  <%= c 'heading', tag: :h2 do %>
    <%= t('.heading') %>
  <% end %>

  <p>
    <%= t('.complete.text',
      name: contributor.name,
      phone_number: contributor.signal_phone_number.phony_formatted
    ) %>
  </p>

<% end %>
