.Dashboard {
  background-color: var(--color-gray-lightest);
  height: 100%;
  min-height: 100vh;
}

.Dashboard-wrapper {
  padding: var(--spacing-unit-xl) var(--spacing-unit);
}

.Dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-unit);
}
