.Callout {
  --background-color: var(--color-blue-lightest);
  --border-color: var(--color-blue);
  --text-color: var(--color-blue-darkest);

  padding: var(--spacing-unit-s) calc(0.75 * var(--spacing-unit));
  background-color: var(--background-color);
  border-left: 3px solid var(--border-color);
  color: var(--text-color);
}

.Callout--warning {
  --background-color: var(--color-orange-lightest);
  --border-color: var(--color-orange);
  --text-color: var(--color-orange-darkest);
}

.Callout--compact {
  padding: var(--spacing-unit-xs);
}
