.Avatar {
  position: relative;
  overflow: hidden;
  width: var(--spacing-unit-xl);
  height: var(--spacing-unit-xl);
  border-radius: 50%;
}

.Avatar--small {
  width: var(--spacing-unit-l);
  height: var(--spacing-unit-l);
}

.Avatar--big {
  width: calc(2 * var(--spacing-unit-xl));
  height: calc(2 * var(--spacing-unit-xl));
}

.Avatar img,
.Avatar-initials {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Avatar-initials > text {
  font-size: 40px;
  font-weight: 600;
  text-anchor: middle;
  dominant-baseline: central;
  fill: #fff;
}
