<div class="<%= class_names.join(' ') %>">
  <% if url %>
    <img src="<%= url %>" alt="" />
  <% else %>
    <svg
      class="Avatar-initials"
      style="<%= "background-color: #{color}" if color %>"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <text x="50" y="50"><%= initials %></text>
    </svg>
  <% end %>
</div>
