.NavBar {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-unit-s) var(--spacing-unit);
  background: var(--color-blue-dark);
  color: rgba(255, 255, 255, 0.8);
  font-size: var(--font-size-s);
}

.NavBar > ul {
  list-style: none;
}

.NavBar-item {
  display: inline-block;
}

.NavBar-item:hover {
  color: #fff;
  text-decoration: underline;
}

.NavBar-item + .NavBar-item {
  margin-left: var(--spacing-unit);
}

.NavBar-logo {
  font-weight: 600;
  color: #fff;
}

.NavBar-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
