<div class="NavBar">
    <ul>
        <li class="NavBar-item">
            <a class="NavBar-logo" href="#">
                100eyes
            </a>
        </li>
        <li class="NavBar-item">
            <a href="<%= users_path %>">
                Teilnehmer*innen
            </a>
        </li>
        <li class="NavBar-item">
            <a class="NavBar-item" href="<%= requests_path %>">
                Recherchen
            </a>
        </li>
    </ul>
</div>
