.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-bar-height);
  overflow: hidden;
  padding: var(--spacing-unit-s) var(--spacing-unit);

  font-size: var(--font-size-s);
  background: var(--color-nav-bar);
  color: rgba(255, 255, 255, 0.8);
}

.NavBar-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.NavBar-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.NavBar-item {
  display: inline-block;
}

.NavBar-item,
.NavBar-logo {
  margin-right: var(--spacing-unit);
}

.NavBar-logo {
  display: inline-block;
  width: calc(4 * var(--spacing-unit));
}

.NavBar-item > a {
  display: inline-flex;
  align-items: center;
}

.NavBar-item.NavBar-logo,
.NavBar-item.NavBar-item.NavBar-settings {
  height: var(--line-height);
}

.NavBar-item:hover,
.NavBar-item button:hover {
  color: #fff;
  text-decoration: underline;
}

.NavBar-hamburgerMenuToggleButton {
  display: none;
  border: none;
  height: var(--spacing-unit);
  background-color: transparent;
}

.NavBar-hamburgerMenuToggleButton > .Icon {
  fill: var(--color-bg);
}

.NavBar-list--responsive {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 1rem;
  background-color: var(--color-nav-bar);
  justify-content: flex-start;
  align-items: flex-end;
  font-size: calc(1.5 * var(--font-size));
  z-index: 9999;
}

.NavBar-item span {
  display: none;
}

.NavBar-search {
  display: none;
}

.NavBar-logOut svg {
  width: var(--spacing-unit);
  margin-right: var(--spacing-unit-xs);
}

@media screen and (max-width: 52.999rem) {
  .NavBar-nav {
    justify-content: space-between;
  }

  .NavBar-list:not(.NavBar-list--responsive) {
    justify-content: space-between;
  }

  .NavBar-list:not(.NavBar-list--responsive),
  .NavBar-search,
  .NavBar-item:not(.NavBar-hamburgerMenuToggleButton) > svg {
    display: none;
  }

  .NavBar-hamburgerMenuToggleButton,
  .NavBar-item span {
    display: block;
  }

  .NavBar-item {
    margin-bottom: var(--spacing-unit-s);
  }

  .NavBar-item svg {
    width: var(--spacing-unit);
    height: var(--spacing-unit);
    margin-left: var(--spacing-unit-s);
    margin-right: 0;
  }

  .NavBar-item.NavBar-logOut {
    display: flex;
  }

  .NavBar-logOut svg {
    order: 1;
  }
}

@media screen and (min-width: 53rem) {
  .NavBar-item.NavBar-profileLink {
    margin: 0 var(--spacing-unit) 0 auto;
    width: 1.25rem;
    position: relative;
    bottom: 2px;
    height: var(--line-height);
  }

  .NavBar-logOut {
    margin-right: var(--spacing-unit-s);
    color: var(--color-primary);
    display: flex;
  }

  .NavBar-item.NavBar-settings {
    width: var(--spacing-unit);
    position: relative;
    bottom: 3px;
  }

  .NavBar-item:not(.NavBar-profileLink):not(.NavBar-settings):not(
      .NavBar-logOut
    )
    svg {
    display: none;
  }
}

@media screen and (min-width: 65rem) {
  .NavBar-search {
    display: block;
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    color: var(--color-nav-bar);
  }

  .NavBar-search > input {
    padding-left: var(--spacing-unit-l);
  }

  .NavBar-search > .Icon {
    fill: var(--color-primary);
    width: 1.5rem;
    height: 1.5rem;
  }

  .NavBar-search > input::placeholder {
    color: var(--color-nav-bar);
    text-align: right;
  }
}
