.ProfileHeader .PageHeader-flexbox {
  gap: 0;
}

.ProfileHeader-additionalInfo {
  flex-basis: 50%;
}

.Flex > .ProfileHeader-upgradeBusinessPlanButton {
  flex-shrink: 0;
  padding: var(--spacing-unit-s);
  margin-top: 0;
  border: 0;
  background-color: inherit;
  font-size: calc(1.25 * var(--font-size));
}

.ProfileHeader-modal {
  max-width: var(--grid-max-width-l);
  display: flex;
  flex-direction: column;
}

.ProfileHeader-closeModalButton {
  align-self: flex-end;
}

.ProfileHeader-modal form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ProfileHeader-submitFormButton {
  width: unset;
}

@media screen and (min-width: 720px) {
  .ProfileHeader-modal {
    max-width: var(--grid-max-width);
  }
}
