<div
  class="TagsInput"
  data-controller="tags-input"
  data-tags-input-available-tags="<%= available_tags %>"
  data-tags-input-allow-new="<%= allow_new %>"
>
  <%= c 'input', value: value, stimulus_target: 'tags-input.input', **props %>
</div>
