@import '@yaireo/tagify/dist/tagify.css';

.TagsInput {
  width: 100%;
}

.TagsInput tags {
  --tag-text-color: #fff;

  --tag-remove-btn-color: #fff;
  --tag-remove-btn-bg--hover: var(--color-pink);
  --tag-remove-bg: var(--color-pink);

  --tags-border-color: var(--color-border);
  --tags-focus-border-color: var(--color-focus);

  border-radius: var(--border-radius);

  transition: none;
}

.TagsInput tags:focus-within {
  box-shadow: var(--input-focus-shadow);
}

.TagsInput tag {
  margin-bottom: 0;
}

.TagsInput-dropdownItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tagify__dropdown__item--active,
.tagify__dropdown__item:hover {
  background-color: var(--color-gray-light);
}

.TagsInput-name {
  padding: 0 var(--spacing-unit-xs);
  border-radius: var(--border-radius);
  background-color: var(--tag-bg) !important;
  color: #fff;
}

.TagsInput-count,
.tagify__dropdown__item--active .TagsInput-count {
  font-size: var(--font-size-xs);
  color: var(--color-text-light);
}
