<div
  class="TagsInput"
  data-controller="tags-input"
  data-tags-input-available-tags-value="<%= available_tags %>"
  data-tags-input-allow-new-value="<%= allow_new %>"
  data-tags-input-members-label-value="<%= I18n.t('contributor.contributor').to_json %>"
>
  <%= c 'input', value: value, data: { tags_input_target: 'input' }, **props %>
</div>
