version: '3.7'

x-defaults: &x-defaults
  build:
    context: .
  environment:
    RAILS_ENV: "${RAILS_ENV:-development}"
    NODE_ENV: development
    MAILSERVER_HOST: mailserver
    MAILSERVER_PORT: 25
    POSTGRES_HOST: db
    WEBPACKER_DEV_SERVER_HOST: 0.0.0.0
  stdin_open: true
  tty: true
  volumes:
    - .:/app

services:
  telegram:
    <<: *x-defaults
    command: rake telegram:bot:poller

  app:
    <<: *x-defaults
    depends_on: [ db, mailserver ]
    ports:
      - 3000:3000
      - 3035:3035

  db:
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports: [ '5432:5432' ]

  mailserver:
    image: djfarrelly/maildev
    ports: [ '1080:80', '1025:25' ]
