x-prod-defaults: &x-prod-defaults
  image: "tactilenews/hundred-eyes:${DOCKER_IMAGE_TAG:-latest}"
  environment:
    NODE_ENV: "production"
    RAILS_ENV: "${RAILS_ENV}"
    RAILS_SERVE_STATIC_FILES: "true"
    RAILS_INBOUND_EMAIL_PASSWORD: "${RAILS_INBOUND_EMAIL_PASSWORD}"
    SECRET_KEY_BASE: "${SECRET_KEY_BASE}"
    POSTMARK_API_TOKEN: "${POSTMARK_API_TOKEN}"
    POSTMARK_BROADCASTS_STREAM: "${POSTMARK_BROADCASTS_STREAM}"
    POSTMARK_TRANSACTIONAL_STREAM: "${POSTMARK_TRANSACTIONAL_STREAM}"
    EMAIL_FROM_ADDRESS: "${EMAIL_FROM_ADDRESS}"
    HUNDRED_EYES_PROJECT_NAME: "${HUNDRED_EYES_PROJECT_NAME}"
    POSTGRES_USER: "${POSTGRES_USER}"
    POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    POSTGRES_DB: "${POSTGRES_DB:-app_production}"
    APPLICATION_HOSTNAME: "${APPLICATION_HOSTNAME}"
    SIGNAL_SERVER_PHONE_NUMBER: "${SIGNAL_SERVER_PHONE_NUMBER}"
    SIGNAL_MONITORING_URL: "${SIGNAL_MONITORING_URL}"
    SENTRY_DSN: "${SENTRY_DSN}"
    ONBOARDING_SHOW_GDPR_MODAL: "${ONBOARDING_SHOW_GDPR_MODAL}"
    THREE_SIXTY_DIALOG_PARTNER_ID: "${THREE_SIXTY_DIALOG_PARTNER_ID}"
    THREE_SIXTY_DIALOG_PARTNER_USERNAME: "${THREE_SIXTY_DIALOG_PARTNER_USERNAME}"
    THREE_SIXTY_DIALOG_PARTNER_PASSWORD: "${THREE_SIXTY_DIALOG_PARTNER_PASSWORD}"
    ATTR_ENCRYPTED_KEY: "${ATTR_ENCRYPTED_KEY}"
    IS_ENTERPRISE_INSTANCE: "${IS_ENTERPRISE_INSTANCE}"

  volumes:
    - ./log:/app/log
    - ./storage:/app/storage
    - ./signal-cli-config:/app/signal-cli-config

services:
  app:
    <<: *x-prod-defaults
    restart: always

  job-worker:
    <<: *x-prod-defaults
    restart: always

  signal:
    restart: always
