<label class="Checkbox">
  <input id="<%= id %>" name="<%= id %>" data-target="<%= stimulus_target %> class="Checkbox-input" type="checkbox" />
  <span class="Checkbox-label"><%= label %></span>
</label>
