.Checkbox {
  display: flex;
  width: 100%;
  align-items: center;
}

.Checkbox-input {
  flex-grow: 0;
  flex-shrink: 0;
}

.Checkbox-label {
  padding-left: 0.25em;
  flex-grow: 1;
  flex-shrink: 1;
}
