.TabBar {
  list-style: none;
  margin-top: var(--spacing-unit-s);
}

.TabBar-list {
  display: flex;
  align-items: end;
}

.TabBar-item {
  display: inline-block;
  padding: var(--spacing-unit-xs) 0;
  border-bottom: 2px solid transparent;
  color: var(--color-text-light);
  font-weight: 500;
  transition: 0.1s all ease-out;
}

.TabBar-item:not(:last-child) {
  margin-right: var(--spacing-unit);
}

.TabBar-item:not(.TabBar-item--active):hover {
  border-bottom-color: var(--color-gray);
  color: var(--color-text);
}

.TabBar-item--active {
  border-bottom-color: var(--color-blue);
  color: var(--color-text);
}

.TabBar-count {
  display: inline-block;
  margin-left: 0.25em;
  padding: 0 0.75em;
  background-color: var(--color-gray);
  color: #fff;
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius-full);
}
