.RequestPasswordResetForm {
  margin: 2rem auto;
  max-width: var(--grid-max-width-xs);
  width: 100%;
  padding: 1rem;
}

.RequestPasswordResetForm form {
  margin-top: 1.5rem;
}

.RequestPasswordResetForm label {
  font-weight: 600;
}

.RequestPasswordResetForm .Input {
  margin: 0.75rem 0 1.5rem;
}

.RequestPasswordResetForm .Heading {
  margin: 1.5rem 0;
}

.RequestPasswordResetForm .Button {
  margin-bottom: 0.75rem;
}
