.UserManagement.Section > * + * {
  margin-top: 0;
}

.UserManagement-usersList {
  list-style: none;
  flex-basis: 50%;
}

.UserManagement-openModalButton {
  flex-shrink: 0;
  padding: var(--spacing-unit-s);
  margin-top: 0;
  border: 0;
  background-color: inherit;
  font-size: calc(1.25 * var(--font-size));
}
