
<p><%= t(".opening") %></p>

<p>
  <%= link_to t(".link_text"),
    url_for([@user, :password, action: :edit, token: @user.confirmation_token]) %>
</p>

<p><%= t(".closing") %></p>
<p><%= url_for([@user, :password, action: :edit, token: @user.confirmation_token]) %></p>