.CopyButton-loading,
.CopyButton-success {
  display: none;
}

.CopyButton[data-state='loading'] .CopyButton-label,
.CopyButton[data-state='success'] .CopyButton-label {
  display: none;
}

.CopyButton[data-state='loading'] .CopyButton-loading {
  display: initial;
}

.CopyButton[data-state='success'] .CopyButton-success {
  display: initial;
}

.Button:not(.Button--primary) .CopyButton-success {
  color: var(--color-green-dark);
}
