.CopyButton {
  position: relative;
  background-color: var(--color-nav-bar);
  display: flex;
}

.CopyButton > svg {
  width: var(--spacing-unit);
  margin-right: var(--spacing-unit-xs);
  stroke: var(--color-primary);
}

.CopyButton-loading,
.CopyButton-success {
  display: none;

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CopyButton[data-state='loading'] .CopyButton-label,
.CopyButton[data-state='success'] .CopyButton-label,
.CopyButton[data-state='loading'] svg:not(.Icon),
.CopyButton[data-state='success'] svg:not(.Icon) {
  visibility: hidden;
}

.CopyButton[data-state='loading'] .CopyButton-loading {
  display: initial;
}

.CopyButton[data-state='success'] .CopyButton-success {
  display: initial;
}

.Button:not(.Button--primary) .CopyButton-success {
  color: var(--color-green-dark);
}
