.Footer {
  display: flex;
  width: 100%;
  gap: var(--spacing-unit-l);
  justify-content: space-between;

  font-size: var(--font-size-s);
  color: var(--color-text-light);
}

.Footer-column {
  flex-basis: 100%;
}

.Footer-logo {
  height: calc(2 * var(--spacing-unit));
  max-width: calc(8 * var(--spacing-unit));
  margin-right: var(--spacing-unit);
}

.Footer-logo:hover {
  opacity: 0.75;
}
