<figure class="ChatPreview">

  <figcaption class="visually-hidden">
    <%= t 'components.chat_preview.alt' %>
  </figcaption>

  <div class="ChatPreview-header" aria-hidden="true">
    <strong><%= organization.project_name %></strong>
    <div class="ChatPreview-status">jetzt online</div>
  </div>

  <div class="ChatPreview-messages">

    <div class="ChatPreview-bubble" aria-hidden="true">
      <span class="ChatPreview-skeleton">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </span>
    </div>

    <div class="ChatPreview-bubble" aria-hidden="true">
      <span class="ChatPreview-skeleton">
        Lorem ipsum dolor sit amet.
      </span>
    </div>

    <div class="ChatPreview-bubble ChatPreview-bubble--preview">
      <%= content %>
    </div>

  </div>

</figure>
