<div class="OnboardingFooter">
  <hr>

  <a href="https://tactile.news/" target="_blank">
    <img src="/onboarding/tactile-logo.png" alt="tactile.news Logo" />
  </a>

  <a href="<%= imprint_link %>" target="_blank">
    <%= I18n.t('components.onboarding_footer.imprint') %>
  </a>
</div>
