.OnboardingFooter {
  display: flex;
  width: 100%;
  padding-top: var(--spacing-unit);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-s);
  opacity: 0.5;
  border-top: 1px solid var(--color-border);
}

@media screen and (min-width: 720px) {
  .OnboardingFooter {
    flex-direction: row;
  }
}

.OnboardingFooter-nav li {
  display: inline;
  list-style: none;
}

.OnboardingFooter-nav li + li {
  margin-left: var(--spacing-unit-s);
}

.OnboardingFooter img {
  height: var(--spacing-unit);
  filter: grayscale(1);
}
