<footer class="OnboardingFooter">
  <ul class="OnboardingFooter-nav">
    <li>
      <a href="<%= organization.onboarding_imprint_link %>" target="_blank" rel="noreferrer noopener">
        <%= t('.imprint') %>
      </a>
    </li>

    <li>
      <a href="<%= organization.onboarding_data_protection_link %>" target="_blank" rel="noreferrer noopener">
        <%= t('.data_protection') %>
      </a>
    </li>
  </ul>

  <div>
    bereitgestellt von
    <a href="https://tactile.news/" class="Link" target="_blank" rel="noreferrer noopener">
      tactile.news
    </a>
  </div>
</footer>
