.SignInForm {
  margin: 2rem auto;
  max-width: var(--grid-max-width-xs);
  width: 100%;
  padding: 1rem;
}

.SignInForm .Heading {
  margin-bottom: 1.5rem;
}

.SignInForm label {
  font-weight: 600;
  display: block;
}

.SignInForm .Input {
  margin: 0.75rem 0 1.5rem;
}

.SignInForm .Field {
  margin-top: 1.5rem;
}

.SignInForm .Button {
  margin-bottom: 0.75rem;
}
