.SignInForm {
  margin: var(--spacing-unit-l) auto;
  max-width: var(--grid-max-width-xs);
  width: 100%;
  padding: 1rem;
}

.SignInForm .Input {
  margin: 0 0 var(--spacing-unit);
}

.SignInForm .Field {
  margin-top: var(--spacing-unit);
}

.SignInForm .Button {
  margin-bottom: var(--spacing-unit-s);
}
