<div class="TelegramWidget">
  <script
    async
    src="https://telegram.org/js/telegram-widget.js?12"
    data-telegram-login="<%= ENV['TELEGRAM_BOT_USERNAME'] %>"
    data-size="large"
    data-auth-url="https://<%= ENV['APPLICATION_HOSTNAME'] %>/onboarding/telegram-auth"
    data-request-access="write">
  </script>
</div>
