.PasswordReset {
  margin: 2rem auto;
  max-width: var(--grid-max-width-xs);
  width: 100%;
  padding: 1rem;
}

.PasswordReset form {
  margin-top: 1.5rem;
}

.PasswordReset label {
  font-weight: 600;
}

.PasswordReset .Input {
  margin: 0.75rem 0 1.5rem;
}

.PasswordReset .Heading {
  margin: 1.5rem 0;
}

.PasswordReset .Button {
  margin-bottom: 0.75rem;
}
