.PasswordResetForm {
  margin: 2rem auto;
  max-width: var(--grid-max-width-xs);
  width: 100%;
  padding: 1rem;
}

.PasswordResetForm form {
  margin-top: 1.5rem;
}

.PasswordResetForm label {
  font-weight: 600;
}

.PasswordResetForm .Input {
  margin: 0.75rem 0 1.5rem;
}

.PasswordResetForm .Heading {
  margin: 1.5rem 0;
}

.PasswordResetForm .Button {
  margin-bottom: 0.75rem;
}

.PasswordResetForm .Button:disabled {
  background-color: var(--color-gray);
}

.PasswordResetForm-help {
  color: var(--color-text-light);
  font-size: 0.8rem;
  line-height: 1.5;
  display: block;
}

.PasswordResetForm-password-mismatch {
  font-size: 0.8rem;
  line-height: 1.5;
  position: relative;
  bottom: 1.5rem;

  color: var(--color-orange-darkest);
}
