.PasswordReset {
  margin: var(--spacing-unit-l) auto;
  max-width: var(--grid-max-width-xs);
  width: 100%;
  padding: 1rem;
}

.PasswordReset .Input {
  margin: var(--spacing-unit) 0 var(--spacing-unit);
}

.PasswordReset .Heading {
  margin-top: var(--spacing-unit);
}

.PasswordReset .Button {
  margin-bottom: var(--spacing-unit-s);
}
