<ul class="Steps">
  <% I18n.t('components.steps.steps').each do |step| %>
    <li class="Steps-step">
      <div class="Steps-icon">
        <%= c 'icon', icon: step[:icon], size: 32 %>
      </div>
      <%= step[:text] %>
    </li>
  <% end %>
</ul>
