.Hero {
  --background-color: var(--color-blue-dark);

  position: relative;
  overflow: hidden;
  padding: calc(3 * var(--spacing-unit)) var(--spacing-unit-l);

  background-color: var(--background-color);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.025) 0,
    rgba(255, 255, 255, 0.05)
  );
  background-blend-mode: luminosity;
  color: #fff;
}

.Hero::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 45%;
  height: 100%;
  background-image: url('/hero/peacock.jpg');
  /*background-image: linear-gradient(45deg, #003b9590 0, #12837590 100%),*/
  background-size: cover;
  background-position: center;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.Hero-text {
  position: relative;
  width: 60%;
}
