.OnboardingInstructions-instructions {
  display: none;
}

.OnboardingInstructions-instructions:target {
  display: block;
}

.OnboardingInstructions .TelegramWidget {
  margin-top: var(--spacing-unit);
}
