.Heading--hero,
.Heading--alpha,
.Heading--beta {
  line-height: 1.25;
  font-weight: 700;
}

.Heading--hero {
  font-size: 2rem;
}

.Heading--alpha,
.rich-content > h1 {
  font-size: 1.75rem;
}

.Heading--beta,
.rich-content > h2 {
  font-size: 1.25rem;
}

.Heading--gamma,
.rich-content > h3 {
  font-size: inherit;
  font-weight: 600;
}

.Heading--upper,
.Heading--section {
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  letter-spacing: 0.1em;
}

.Heading--serif {
  font-family: var(--font-family-serif);
}

.Heading--section {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-text-light);
}

.Heading--section::before,
.Heading--section::after {
  content: '';
  display: block;
  margin-right: var(--spacing-unit-l);
  border-bottom: 1px solid var(--color-border);
  flex-grow: 1;
  flex-shrink: 1;
}

.Heading--section::after {
  margin: 0;
  margin-left: var(--spacing-unit-l);
}
