.UpgradeBusinessPlanModal {
  max-width: var(--grid-max-width-l);
  display: flex;
  flex-direction: column;
}

.UpgradeBusinessPlanModal-closeModalButton {
  align-self: flex-end;
}

.UpgradeBusinessPlanModal form {
  display: flex;
  flex-direction: column;
}

.UpgradeBusinessPlanModal-submitFormButton {
  width: unset;
}

.UpgradeBusinessPlanModal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 720px) {
  .UpgradeBusinessPlanModal {
    max-width: var(--grid-max-width);
  }
}
