.OnboardingTelegramForm {
  margin: calc(var(--spacing-unit-l) * 2) auto;
  max-width: 27rem;
}

.OnboardingTelegramForm .Field,
.OnboardingTelegramForm .Button {
  margin-top: var(--spacing-unit);
}

.OnboardingTelegramForm-header,
.OnboardingTelegramForm-subheader {
  text-align: center;
  margin-bottom: var(--spacing-unit-l);
}
