.OnboardingTelegramForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100vh;

  margin: 0 auto;
  max-width: 30rem;
  padding: 2rem;
}

.OnboardingTelegramForm .Field,
.OnboardingTelegramForm .Button {
  margin-top: var(--spacing-unit);
}

.OnboardingTelegramForm-header,
.OnboardingTelegramForm-subheader {
  text-align: center;
  margin-bottom: var(--spacing-unit-l);
}
