<div class="DashboardControls">
  <%= t 'components.dashboard_controls.label' %>
  <%= c 'button', label: order, link: order_href, styles: [:inline]  %>,
  <%= c 'button', label: order_direction, link: order_direction_href, styles: [:inline] %>
</div>
