<div class="Chat">
  <%= c 'stack' do %>
    <%= c 'user_row', user: user %>
    <div class="Chat-messages">
      <%= c 'stack' do %>
        <% messages.each do |message| %>
          <%= c 'chat_row', message: message %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
