.Chat-header {
  display: flex;
  align-items: center;
}

.Chat-username {
  padding: var(--spacing-unit);
}

.Chat-messages {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-unit-l);
  margin: var(--spacing-unit) 0;
  background-color: var(--color-gray-light);
}
