.Wrapper {
  width: 100%;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.Wrapper--narrow {
  max-width: var(--grid-max-width-s);
}

.Wrapper--xnarrow {
  max-width: var(--grid-max-width-xs);
}
