.Stack > * + * {
  margin-top: var(--spacing-unit);
}

.Stack--xsmall > * + * {
  margin-top: var(--spacing-unit-xs);
}

.Stack--small > * + * {
  margin-top: var(--spacing-unit-s);
}

.Stack--large > * + * {
  margin-top: var(--spacing-unit-l);
}

.Stack--xlarge > * + * {
  margin-top: var(--spacing-unit-xl);
}
