<div class="<%= class_names.join(' ') %>">
  <div class="Field-header">
    <div class="Field-label"><%= label %></div>
    <% if help %>
      <div class="Field-help"><%= help %></div>
    <% end %>
  </div>
  <%= content %>
</div>
