<div class="Field">
    <%= c 'stack', space: :small do %>
        <div>
            <div class="Field-label"><%= label %></div>
            <% if help %>
                <div class="Field-help"><%= help %></div>
            <% end %>
        </div>
        <%= content %>
    <% end %>
</div>
