.Field {
  display: block;
}

.Field-labelText {
  font-weight: 600;
}

.Field-helpText,
.Field-errorText {
  font-size: var(--font-size-s);
  display: block;
}

.Field-helpText {
  color: var(--color-text-light);
}

.Field-errorText {
  color: var(--color-red);
}

.Field:not(.Field--horizontal) .Field-textWrapper {
  margin-bottom: var(--spacing-unit-xs);
}

.Field--horizontal {
  display: flex;
}

.Field--horizontal .Field-textWrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0;
  margin-right: var(--spacing-unit);
}

.Field--horizontal.Field--leftAligned .Field-textWrapper {
  width: 85%;
  order: 2;
}
