.Field {
  display: block;
}

.Field-labelText {
  font-weight: 600;
}

.Field-helpText {
  color: var(--color-text-light);
  font-size: 0.8rem;
  line-height: 1.5;
  display: block;
}

.Field-errorText {
  color: var(--color-red);
  font-size: 0.8rem;
}

.Field-errorText:before {
  content: '*';
}

.Field:not(.Field--horizontal) .Field-textWrapper {
  margin-bottom: var(--spacing-unit-xs);
}

.Field--horizontal {
  display: flex;
}

.Field--horizontal .Field-textWrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0;
  margin-right: var(--spacing-unit);
}
