<%= c 'page_wrapper' do %>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>E-Mail</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= c 'user_wrapper', user: user %>
    <% end %>
  </tbody>
</table>

<% end %>
