<%= c 'page_wrapper' do %>
  <p id="notice"><%= notice %></p>
  <%= c 'user_table' do %>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Kontaktmöglichkeiten</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= c 'user_row', user: user %>
      <% end %>
    </tbody>
  <% end %>
<% end %>
