<%= c 'page_wrapper' do %>
  <h1>Alle Nachrichtenverläufe mit <%= @user.name %></h1>
  <ul>
  <% @user.requests.each do |request| %>
    <li>
    <%= link_to request.title, user_request_path(@user, request) %>
    </li>
  <% end %>
  </ul>

  <%= c 'button', label: 'Zurück', link: users_path %> 
<% end %>
