.ContributorHeader {
  display: flex;
  width: 100%;
  gap: var(--spacing-unit);
}

.ContributorHeader-avatar {
  flex-grow: 0;
  flex-shrink: 0;
}

.ContributorHeader-contributor {
  font-weight: 500;
}

.ContributorHeader-contributor:hover {
  text-decoration: underline;
}
