<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div class="hundred-eyes-message" id="hundred-eyes-message">
      <%= simple_format(@text) %>
      <br>
      <br>
      --
      <br>
      <%= I18n.with_locale(@locale) { t 'mailer.unsubscribe.html'.html_safe }  %>
    </div>
  </body>
</html>
