.TwoFactorAuthSetup {
  margin: 2rem auto;
  max-width: var(--grid-max-width-s);
  width: 100%;
  padding: 1rem;
}

.TwoFactorAuthSetup svg {
  display: block;
  margin: 1.5rem auto;
}

.TwoFactorAuthSetup label {
  display: block;
  font-weight: 600;
}
