.TwoFactorAuthSetup {
  margin: 1rem auto;
  max-width: var(--grid-max-width-s);
  width: 100%;
  padding: 1rem;
}

.TwoFactorAuthSetup-explained {
  margin: 1rem 0 1.5rem;
}

.TwoFactorAuthSetup svg {
  display: block;
  margin: 1.5rem auto;
}

.TwoFactorAuthSetup label {
  display: block;
  font-weight: 600;
}

.TwoFactorAuthSetup .Input {
  margin: 0.75rem 0 1.5rem;
}

.TwoFactorAuthSetup .Button {
  margin-bottom: 0.75rem;
}
