.Textarea {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  width: 100%;
  padding: var(--input-padding);

  border-radius: var(--border-radius);
  border: var(--input-border-width) solid var(--color-border);

  resize: none;
}

.Textarea:focus {
  border-color: var(--color-focus);
}

.Textarea--small {
  padding: var(--input-padding-s);
}
