.Textarea {
  width: 100%;
}

.Textarea-input {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  width: 100%;
  padding: var(--input-padding);

  border-radius: var(--border-radius);
  border: var(--input-border-width) solid var(--color-border);

  resize: none;
}

.Textarea-input:focus {
  border-color: var(--color-focus);
  outline: none;
  box-shadow: var(--input-focus-shadow);
}

.Textarea--small .Textarea-input {
  padding: var(--input-padding-s);
}

.Textarea-emojiPickerHint {
  margin-top: var(--spacing-unit-xs);
}
