.c-button {
    -webkit-appearance: none;
    text-decoration: none;
    font-size: var(--font-size);
    line-height: var(--spacing-unit);

    display: inline-block;
    padding: var(--spacing-unit-s) var(--spacing-unit);
    margin: var(--spacing-unit-s) 0;

    font-weight: 600;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-primary);
}

.c-button--primary {
    background-color: var(--color-primary);
    color: white;
}

.c-button--secondary {
    color: var(--color-primary);
}
