.Button {
  --text-color: #fff;
  --background-color: var(--color-primary);
  --border-color: rgba(0, 0, 0, 0.1);

  -webkit-appearance: none;
  -moz-appearance: none;

  position: relative;

  display: inline-block;
  padding: var(--input-padding);
  padding-left: var(--spacing-unit);
  padding-right: var(--spacing-unit);
  border-radius: var(--border-radius-full);

  text-decoration: none;
  background: none;
  border: none;
  font-weight: 500;
  font-size: inherit;

  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.Button:hover {
  opacity: 0.8;
}

.Button:focus {
  border-color: var(--color-focus);
  outline: none;
  box-shadow: var(--input-focus-shadow);
}

.Button--secondary {
  --background-color: transparent;
  --text-color: var(--color-text);
  --border-color: var(--color-text);
}

.Button--plain,
.Button--inline {
  --text-color: inherit;
  --background-color: transparent;
  --border-color: transparent;
  padding: var(--input-padding);
}

.Button--inline {
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

.Button--small {
  padding: var(--input-padding-s);
}

.Button--underline {
  text-decoration: underline;
}

.Button--block {
  display: block;
  width: 100%;
  text-align: center;
}

.Button--threema {
  --background-color: var(--color-threema);
}

.Button--telegram {
  --background-color: var(--color-telegram);
}

.Button--email {
  --background-color: var(--color-email);
}

.Button--signal {
  --background-color: var(--color-signal);
}

.Button--loading {
  color: transparent;
}

.Button--loading::after {
  --size: 1em;

  content: '';

  position: absolute;
  top: calc(50% - 0.5 * var(--size));
  left: calc(50% - 0.5 * var(--size));

  display: inline-block;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  border: 2px solid var(--text-color);
  border-right-color: transparent;
  animation: loading-spinner 0.75s linear infinite;
}

.Button--circular {
  padding: var(--input-padding);
}

.Button:disabled {
  background-color: var(--color-gray);
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
