<p>Klicken Sie hier, um sich zu registrieren, falls Sie noch nicht registriert sind</p>
<%= link_to field.setup_signal_url, style: 'text-decoration: underline' do %>
  <%= field.signal_server_phone_number %>
<% end %>
