<p>Klicke hier, um dich zu registrieren, falls du noch nicht registriert bist.</p>
<%= link_to field.setup_signal_url, style: 'text-decoration: underline' do %>
  <%= field.signal_server_phone_number %>
<% end %>
