<p><%= I18n.t('administrate.custom_field_type.setup_signal_link_field.show.help_text') %></p>
<%= link_to field.setup_signal_url, style: 'text-decoration: underline' do %>
  <%= field.signal_server_phone_number %>
<% end %>
