---
- name: Create shared volume directories
  file:
    path: /home/ansible/traefik/
    state: directory

- name: Add traefik admin user with htpasswd file
  htpasswd:
    path: /home/ansible/traefik/passwords
    name: "{{ traefik.user }}"
    password: "{{ traefik.password }}"

- name: Copy docker-compose.yml files
  copy:
    src: "{{ item }}"
    dest: /home/ansible/
  with_items:
    - ../docker-compose.yml
    - ../docker-compose.prod.yml
    - ../docker-compose.traefik.yml

- name: Run `docker compose up`
  environment:
    DOCKER_IMAGE_TAG: "{{ docker_image_tag }}"
    RAILS_ENV: "{{ rails.environment }}"
    HUNDRED_EYES_PROJECT_NAME: "{{ rails.hundred_eyes_project_name }}"
    TELEGRAM_BOT_API_KEY: "{{ rails.telegram_bot.api_key | default('') }}"
    TELEGRAM_BOT_USERNAME: "{{ rails.telegram_bot.username | default('') }}"
    POSTGRES_HOST: "{{ postgres_host }}"
    POSTGRES_PORT: "{{ postgres_port }}"
    POSTGRES_USER: "{{ postgres_user }}"
    POSTGRES_PASSWORD: "{{ postgres_password }}"
    POSTGRES_DB: "{{ postgres_db }}"
    ACME_EMAIL_ADDRESS: "{{ traefik.acme_email_address }}"
    TRAEFIK_HOSTNAME: "{{ dns.traefik_hostname }}"
    APPLICATION_HOSTNAME: "{{ dns.application_hostname }}"
    POSTMARK_API_TOKEN: "{{ rails.postmark.api_token }}"
    POSTMARK_BROADCASTS_STREAM: "{{ rails.postmark.broadcasts_stream }}"
    POSTMARK_TRANSACTIONAL_STREAM: "{{ rails.postmark.transactional_stream }}"
    EMAIL_FROM_ADDRESS: "{{ rails.email_from_address }}"
    SECRET_KEY_BASE: "{{ rails.secret_key_base }}"
    CF_DNS_API_TOKEN: "{{ traefik.cloudflare_dns_api_token }}"
    SIGNAL_SERVER_PHONE_NUMBER: "{{ rails.signal.server_phone_number | default('') }}"
    SIGNAL_MONITORING_URL: "{{ rails.signal.monitoring_url | default('') }}"
    SENTRY_DSN: "{{ rails.sentry.dsn }}"
    ONBOARDING_SHOW_GDPR_MODAL: "{{ rails.onboarding.show_gdpr_modal | default('') | string | lower }}"
    TWILIO_AUTH_TOKEN: "{{ rails.twilio.auth_token | default('') }}"
    THREE_SIXTY_DIALOG_PARTNER_ID: "{{ rails.three_sixty_dialog.partner.id | default('') }}"
    THREE_SIXTY_DIALOG_PARTNER_USERNAME: "{{ rails.three_sixty_dialog.partner.username | default('') }}"
    THREE_SIXTY_DIALOG_PARTNER_PASSWORD: "{{ rails.three_sixty_dialog.partner.password | default('') }}"
    ATTR_ENCRYPTED_KEY: "{{ rails.attr_encrypted_key | default('') }}"

  community.docker.docker_compose_v2:
    project_src: /home/ansible
    recreate: always
    build: never
    pull: always
    wait: true
    files:
      - docker-compose.yml
      - docker-compose.prod.yml
      - docker-compose.traefik.yml

- name: Prune outdated images
  community.docker.docker_prune:
    images: yes

- name: Run schema migrations
  command:
    cmd: docker compose -f docker-compose.yml -f docker-compose.prod.yml exec app bin/rails db:migrate
    chdir: /home/ansible
