<header class="<%= class_attr %>">
  <img src="<%= logo %>" alt="<%= Setting.project_name %>" />
  <span class="OnboardingHeader-byline">
    <%= I18n.t('components.onboarding_header.byline').html_safe %>
  </span>
</header>
