.OnboardingHeader {
  text-align: center;
}

.OnboardingHeader img {
  display: block;
  height: var(--spacing-unit-l);
  margin: var(--spacing-unit-xs) auto;
}

.OnboardingHeader-byline {
  font-size: var(--font-size-xs);
  color: var(--color-text-light);
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .OnboardingHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .OnboardingHeader img {
    margin: 0;
  }
}
