#############################

Visit 'https://signalcaptchas.org/registration/generate.html' and solve a captcha.

Observe your JavaScript console or the url you are redirected to after successful captcha completion.
Everything after 'signalcaptcha://' is the captcha token.
Note: You have to enable 'Persist Logs' in the Firefox console preferences or 'Preserve log' in the
network tab of Chromes console to be able to see the redirect link.

#############################

Enter captcha token:
