#############################

Visit 'https://signalcaptchas.org/registration/generate.html' and solve a captcha.

Observe your JavaScript console or the url you are redirected to after successful captcha completion.
Everything after 'signalcaptcha://' is the captcha token.

#############################

Enter captcha token:
