#############################

Visit https://signalcaptchas.org/registration/generate.html and solve a captcha.

Observe your JavaScript console, Everything after signalcaptcha:// is the captcha token.

#############################

Enter captch:
