<%= c 'section',
   styles: [:wide, :largeBottomMargin],
   **attrs,
   data: { controller: 'day-activity-linechart',
           day_activity_linechart_url_value: "/#{organization.id}/charts/day-requests-replies",
         } do %>
  <%= c 'heading', style: :beta do %>
    <%= t '.heading' %>
  <% end %>

  <div
    data-day-activity-linechart-target="linechart"
    class="DayActivityLinechart-chart"
  ></div>
<% end %>
