.PasswordInput-toggle,
.PasswordInput-validations {
  margin-top: var(--spacing-unit-xs);
  font-size: var(--font-size-s);
  font-weight: 400;
  color: var(--color-text-light);
}

.PasswordInput-validations > li {
  display: block;
  list-style: none;
}

.PasswordInput-validIcon,
.PasswordInput-invalidIcon {
  display: none;
}

.PasswordInput-validation {
  font-weight: 500;
}

.PasswordInput-validation[data-state='valid'] .PasswordInput-validIcon,
.PasswordInput-validation[data-state='invalid'] .PasswordInput-invalidIcon {
  display: inline-block;
}

.PasswordInput-validation[data-state='valid'] {
  color: var(--color-green-dark);
}
