.Box {
  padding: var(--spacing-unit);
}

.Box--small {
  padding: var(--spacing-unit-s);
}

.Box--large {
  padding: var(--spacing-unit-l);
}

.Box--round {
  border-radius: var(--border-radius);
}

.Box--gray {
  background-color: var(--color-gray-light);
}
