.BaseField {
  display: block;
  width: 100%;
}

.BaseField-labelText {
  display: block;
  font-weight: 600;
}

.BaseField-helpText,
.BaseField-errorText {
  font-size: var(--font-size-s);
  display: block;
}

.BaseField-helpText {
  color: var(--color-text-light);
}

.BaseField-errorText {
  color: var(--color-red);
}

.BaseField-textWrapper {
  margin-bottom: var(--spacing-unit-xs);
}

.BaseField--leftAligned {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.BaseField--leftAligned .BaseField-textWrapper {
  margin-bottom: 0;
  margin-left: var(--spacing-unit-s);
}
