.BaseField {
  display: block;
  width: 100%;
}

.BaseField-labelText {
  display: block;
  font-weight: 600;
}

.BaseField-helpText,
.BaseField-errorText,
.BaseField-helpAdditionalText {
  font-size: var(--font-size-s);
  display: block;
}

.BaseField-helpText,
.BaseField-helpAdditionalText {
  color: var(--color-text-light);
}

.BaseField-helpAdditionalText {
  margin-top: var(--spacing-unit);
}

.BaseField-errorText {
  color: var(--color-red);
}

.BaseField-textWrapper {
  margin-bottom: var(--spacing-unit-xs);
}

.BaseField--leftAligned {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: start;
}

.BaseField--leftAligned > input {
  /*
   * Fix a browser quirk that causes radio buttons and checkboxes
   * to be scaled down until they essentially become invisible in
   * some browsers (e.g. mobile Safari).
   */
  flex-shrink: 0;

  /* Vertically align the input's top border with the label text */
  margin-top: var(--spacing-unit-xs);
}

.BaseField--leftAligned .BaseField-textWrapper {
  margin-bottom: 0;
  margin-left: var(--spacing-unit-s);
}
