.ChatMessagesGroup-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.ChatMessagesGroup-avatar {
  margin-right: var(--spacing-unit-s);
}

.ChatMessagesGroup-user {
  font-weight: 500;
}

.ChatMessagesGroup-user:hover {
  text-decoration: underline;
}

.ChatMessagesGroup-actions {
  margin-left: var(--spacing-unit-s);
  color: #999;
  font-size: var(--font-size-s);
  font-weight: 500;
}

.ChatMessagesGroup-messages {
  font-size: var(--font-size-s);
  line-height: 1.6;
}
