<div
  class="CreateInviteButton"
  data-controller="create-invite-button"
  data-action="click->create-invite-button#copyLink"
>
  <%= c 'button', style: :inline, stimulus_target: 'create-invite-button.button' do %>
    <span data-target="create-invite-button.label">
      oder Einladungslink kopieren
    </span>
    <span data-target="create-invite-button.loading" hidden>
      erstelle Link…
    </span>
    <span
      class="CreateInviteButton-success"
      data-target="create-invite-button.success"
      hidden
    >
      <%= c 'icon', icon: 'f-check', style: :inline %>
      Link kopiert
    </span>
  <% end %>
</div>
