.RequestForm {
  display: grid;
  gap: var(--spacing-unit-xl);
  grid-template-columns: 6fr 4fr;
}

.RequestForm-preview {
  position: sticky;
  /* Accounts for the fixed navigation bar */
  top: calc(3.5 * var(--spacing-unit));
}

[data-request-form-target='preview'] {
  white-space: pre-wrap;
}
