.RequestForm {
    display: flex;
    padding: var(--spacing-unit);
}

.RequestForm-column {
    width: 50%;
}

.RequestForm-column + .RequestForm-column {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-unit);
}

.RequestForm-column > * {
    /* Ensure direct children take the full column height,
     * allowing the preview to stick to the top
     */
    flex-grow: 1;
}

.RequestForm-preview {
    position: sticky;
    top: var(--spacing-unit);
    padding: var(--spacing-unit-s);
    border-radius: var(--border-radius);
    background-color: var(--color-gray-light);
}

.RequestForm-preview p + p {
    margin-top: .75rem;
}
