.RequestForm {
    display: flex;
    padding: var(--spacing-unit);
}

.RequestForm-column {
    width: 50%;
}

.RequestForm-column + .RequestForm-column {
    margin-left: var(--spacing-unit);
}

.RequestForm-preview {
    position: sticky;
    top: var(--spacing-unit);
    padding: var(--spacing-unit-s);
    border-radius: var(--border-radius);
    background-color: var(--color-gray-light);
}

.RequestForm-preview p + p {
    margin-top: .75rem;
}
