---
http_interactions:
  - request:
      method: post
      uri: https://waba-v2.360dialog.io/messages
      body:
        encoding: UTF-8
        string: '{"messaging_product":"whatsapp","recipient_type":"individual","to":"4912345678","type":"template","template":{"language":{"policy":"deterministic","code":"de"},"name":"welcome_message_my_project"}}'
      headers:
        D360-Api-Key:
          - D360-API-KEY
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        Facebook-Api-Version:
          - v19.0
        X-Business-Use-Case-Usage:
          - '{"118406021245988":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":0,"estimated_time_to_regain_access":0}]}'
        X-Cloud-Trace-Context:
          - 9c5a41f744c65c505da46e2efdeaaa25
      body:
        encoding: UTF-8
        string: '{"messaging_product":"whatsapp","contacts":[{"input":"4912345678","wa_id":"494912345678"}],"messages":[{"id":"wamid.HBgMNDk0OTEyMzQ1Njc4FQIAERgSMjNENUJGODJCQUNEQ0FCOTExAA=="}]}'
    recorded_at: Wed, 15 Jan 2025 10:14:19 GMT
recorded_with: VCR 6.1.0
