---
http_interactions:
- request:
    method: post
    uri: https://hub.360dialog.io/api/v2/token
    body:
      encoding: UTF-8
      string: '{"username":"THREE_SIXTY_DIALOG_PARTNER_USERNAME","password":"THREE_SIXTY_DIALOG_PARTNER_PASSWORD"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":86400,"refresh_token":"byYbJEwZks37AzgFG540OeW-fItMgGAoXFfw-ba_994VV","token_type":"Bearer"}

        '
  recorded_at: Mon, 07 Oct 2024 09:01:21 GMT
- request:
    method: get
    uri: https://hub.360dialog.io/api/v2/partners/THREE_SIXTY_DIALOG_PARTNER_ID/waba_accounts/THREE_SIXTY_DIALOG_CLIENT_WABA_ACCOUNT_ID/waba_templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":15,"filters":{},"limit":1000,"offset":0,"sort":["id"],"total":15,"waba_templates":[{"category":"MARKETING","components":[{"example":{"body_text":[["Jakob","Familie
        und Freizeit"]]},"text":"Guten Morgen {{1}}, heute haben wir zum Thema \u201e{{2}}\u201c
        eine Frage vorbereitet. Wenn du antworten m\u00f6chtest, klicke auf ''Antworten''.","type":"BODY"},{"buttons":[{"text":"Antworten","type":"QUICK_REPLY"},{"text":"Mehr
        Infos","type":"QUICK_REPLY"}],"type":"BUTTONS"}],"created_at":"2023-08-11T08:34:37Z","created_by":{"user_id":"HmpUn8U","user_name":"apiuser"},"external_id":"1949428312134154","id":"6D5ijv87QgDZQtj0ad4mWT","language":"de","modified_at":"2024-09-12T22:26:51Z","modified_by":{"user_id":"system","user_name":"system"},"name":"new_request_morning_3","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","partner_id":"THREE_SIXTY_DIALOG_PARTNER_ID","quality_score":{"reasons":null,"score":"UNKNOWN"},"rejected_reason":"NONE","status":"approved","updated_external":true,"waba_account_id":"THREE_SIXTY_DIALOG_CLIENT_WABA_ACCOUNT_ID"},{"category":"MARKETING","components":[{"example":{"body_text":[["Jakob","Familie
        und Freizeit"]]},"text":"Guten Morgen {{1}}, wir haben eine neue Frage zum
        Thema \u201e{{2}}\u201c. Wenn du antworten m\u00f6chtest, klicke auf ''Antworten''.","type":"BODY"},{"buttons":[{"text":"Antworten","type":"QUICK_REPLY"},{"text":"Mehr
        Infos","type":"QUICK_REPLY"}],"type":"BUTTONS"}],"created_at":"2023-08-11T08:34:26Z","created_by":{"user_id[...]
- request:
    method: post
    uri: https://hub.360dialog.io/api/v2/partners/THREE_SIXTY_DIALOG_PARTNER_ID/waba_accounts/THREE_SIXTY_DIALOG_CLIENT_WABA_ACCOUNT_ID/waba_templates
    body:
      encoding: UTF-8
      string: '{"name":"welcome_message_test_project_name","category":"MARKETING","components":[{"type":"BODY","text":"*Welcome
        to {{1}}*\n\nUnsere Dialog-Recherche startet bald. Wir melden uns dann bei
        Ihnen.\n\nUm unseren Kanal abzubestellen, schreibe „abbestellen“.\n","example":{"body_text":[["100eyes"]]}}],"language":"de","allow_category_change":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"category":"MARKETING","components":[{"example":{"body_text":[["100eyes"]]},"text":"*Welcome
        to {{1}}*\n\nUnsere Dialog-Recherche startet bald. Wir melden uns dann bei
        Ihnen.\n\nUm unseren Kanal abzubestellen, schreibe \u201eabbestellen\u201c.\n","type":"BODY"}],"created_at":"2024-10-07T09:01:21Z","created_by":{"user_id":"0fIXafU","user_name":"Matt"},"external_id":"1275839723420499","id":"xyJ01IL2o2OZRvICUBDGWT","language":"de","modified_at":"2024-10-07T09:01:27Z","modified_by":{"user_id":"0fIXafU","user_name":"Matt"},"name":"welcome_message_test_project_name","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","partner_id":"THREE_SIXTY_DIALOG_PARTNER_ID","quality_score":null,"rejected_reason":null,"status":"submitted","updated_external":true,"waba_account_id":"THREE_SIXTY_DIALOG_CLIENT_WABA_ACCOUNT_ID"}

        '
  recorded_at: Mon, 07 Oct 2024 09:01:27 GMT
recorded_with: VCR 6.1.0
