---
http_interactions:
- request:
    method: post
    uri: https://waba-v2.360dialog.io/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","recipient_type":"individual","to":"4915123456789","type":"image","image":{"id":"883247393974022"}}'
    headers:
      D360-Api-Key:
      - D360-API-KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v19.0
      X-Business-Use-Case-Usage:
      - '{"118406021245988":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"4915123456789","wa_id":"4915123456789"}],"messages":[{"id":"wamid.HBgNNDkxNTE0MzQxNjI2NRUCABEYEjIzQUFFNzI0QjZEMUYzQTQ0NAA="}]}'
  recorded_at: Mon, 18 Nov 2024 10:12:40 GMT
recorded_with: VCR 6.1.0
