---
http_interactions:
- request:
    method: post
    uri: https://waba-v2.360dialog.io/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","recipient_type":"individual","to":"4912345678","type":"template","template":{"language":{"policy":"deterministic","code":"de"},"name":"new_direct_message","components":[{"type":"body","parameters":[{"type":"text","text":"Dean"}]}]}}'
    headers:
      D360-Api-Key:
      - D360-API-KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v19.0
      X-Business-Use-Case-Usage:
      - '{"118406021245988":[{"type":"whatsapp","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"4912345678","wa_id":"494912345678"}],"messages":[{"id":"wamid.HBgMNDk0OTEyMzQ1Njc4FQIAERgSNEU4MjRGNUIyNTZGMzlBNTRCAA=="}]}'
  recorded_at: Mon, 10 Feb 2025 11:52:26 GMT
recorded_with: VCR 6.1.0
