---
http_interactions:
- request:
    method: get
    uri: https://waba-v2.360dialog.io/v1/configs/templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      D360-Api-Key:
      - D360-API-KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":4,"filters":{},"limit":1000,"offset":0,"sort":["id"],"total":4,"waba_templates":[{"category":"MARKETING","components":[{"example":{"body_text":[["100eyes"]]},"text":"*Welcome
        to {{1}}*\n\nUnsere Dialog-Recherche startet bald. Wir melden uns dann bei
        Ihnen.\n\nUm unseren Kanal abzubestellen, schreibe \u201eabbestellen\u201c.\n","type":"BODY"}],"created_at":"2024-10-07T08:50:05Z","created_by":{"user_id":"0fIXafU","user_name":"Matt"},"external_id":"1214097339917640","id":"MEuXRnVMAD7ScqqN0VDrWT","language":"de","modified_at":"2024-10-07T08:50:31Z","modified_by":{"user_id":"system","user_name":"system"},"name":"welcome_message_test_project","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","partner_id":"WdBs71PA","quality_score":null,"rejected_reason":"NONE","status":"approved","updated_external":true,"waba_account_id":"uX3BECWA"},{"category":"MARKETING","components":[{"example":{"body_text":[["Jakob","Familie
        und Freizeit"]]},"text":"Guten Morgen {{1}}, wir haben eine neue Frage zum
        Thema \u201e{{2}}\u201c. Wenn du antworten m\u00f6chtest, klicke auf ''Antworten''.","type":"BODY"},{"buttons":[{"text":"Antworten","type":"QUICK_REPLY"},{"text":"Mehr
        Infos","type":"QUICK_REPLY"}],"type":"BUTTONS"}],"created_at":"2024-10-22T11:41:52Z","created_by":{"user_id":"system","user_name":"System
        account"},"external_id":"974244038051108","id":"u2XmEOU54M8b7KHv0nypWT","language":"de","modified_at":"2024-10-22T11:42:25Z","modified_by":{"user_id":"system","user_name":"system"},"name":"new_request_morning1","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","partner_id":"WdBs71PA","quality_score":null,"rejected_reason":"NONE","status":"approved","updated_external":true,"waba_account_id":"uX3BECWA"},{"category":"MARKETING","components":[{"example":{"body_text":[["100eyes"]]},"text":"Vielen
        Dank f\u00fcr deine Anmeldung bei {{1}}. Unsere Dialog-Recherche startet bald.
        Wir melden uns dann bei dir.","type":"BODY"}],"created_at":"2023-08-11T08:34:22Z","created_by":{"user_id":"HmpUn8U","user_name":"apiuser"},"external_id":"6443353965699593","id":"V7XC4olb3r7aaq416f2eWT","language":"de","modified_at":"2024-09-12T22:26:51Z","modified_by":{"user_id":"system","user_name":"system"},"name":"welcome_message","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","partner_id":"WdBs71PA","quality_score":{"reasons":null,"score":"UNKNOWN"},"rejected_reason":"NONE","status":"approved","updated_external":true,"waba_account_id":"uX3BECWA"},{"category":"MARKETING","components":[{"example":{"body_text":[["100eyes"]]},"text":"*Welcome
        to {{1}}*\n\nUnsere Dialog-Recherche startet bald. Wir melden uns dann bei
        Ihnen.\n\nUm unseren Kanal abzubestellen, schreibe \u201eabbestellen\u201c.\n","type":"BODY"}],"created_at":"2024-10-07T09:01:21Z","created_by":{"user_id":"0fIXafU","user_name":"Matt"},"external_id":"1275839723420499","id":"xyJ01IL2o2OZRvICUBDGWT","language":"de","modified_at":"2024-10-07T09:01:33Z","modified_by":{"user_id":"system","user_name":"system"},"name":"welcome_message_test_project_name","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","partner_id":"WdBs71PA","quality_score":null,"rejected_reason":"NONE","status":"approved","updated_external":true,"waba_account_id":"uX3BECWA"}]}

        '
  recorded_at: Tue, 22 Oct 2024 11:50:11 GMT
- request:
    method: post
    uri: https://waba-v2.360dialog.io/v1/configs/templates
    body:
      encoding: UTF-8
      string: '{"name":"new_request_morning2","category":"MARKETING","components":[{"type":"BODY","text":"Guten
        Morgen {{1}}, zum Thema „{{2}}“ haben wir eine neue Frage. Wenn du antworten
        möchtest, klicke auf ''Antworten''.","example":{"body_text":[["Jakob","Familie
        und Freizeit"]]}},{"type":"BUTTONS","buttons":[{"type":"QUICK_REPLY","text":"Antworten"},{"type":"QUICK_REPLY","text":"Mehr
        Infos"}]}],"language":"de","allow_category_change":true}'
    headers:
      D360-Api-Key:
      - D360-API-KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"category":"MARKETING","components":[{"example":{"body_text":[["Jakob","Familie
        und Freizeit"]]},"text":"Guten Morgen {{1}}, zum Thema \u201e{{2}}\u201c haben
        wir eine neue Frage. Wenn du antworten m\u00f6chtest, klicke auf ''Antworten''.","type":"BODY"},{"buttons":[{"text":"Antworten","type":"QUICK_REPLY"},{"text":"Mehr
        Infos","type":"QUICK_REPLY"}],"type":"BUTTONS"}],"external_id":"1475284523158116","id":"mg83ovEcYk8BJ8PL9FY0WT","language":"de","name":"new_request_morning2","namespace":"7380bb95_042f_4bea_a6b2_58f1d0a4be55","rejected_reason":null,"status":"submitted"}

        '
  recorded_at: Tue, 22 Oct 2024 11:50:13 GMT
recorded_with: VCR 6.1.0
