<div <%= attrs %>">
  <% metrics.each do |metric| %>
    <%= c 'card' do %>
      <%= c 'box', style: :small do %>
        <%= c 'metric', style: :large, **metric %>
      <% end %>
    <% end %>
  <% end %>
</div>
