.Flex {
  display: flex;
  width: 100%;
  align-items: center;
}

.Flex--equal > * {
  flex-basis: 100%;
  flex-grow: 1;
}

.Flex--gap {
  gap: var(--spacing-unit-l);
}

.Flex--big-gap {
  gap: calc(2 * var(--spacing-unit-l));
}

.Flex--space-between {
  justify-content: space-between;
}
