.RequestRow-meta {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-s);
  color: var(--color-text-light);
}

.RequestRow .PlaintextMessage {
  margin-bottom: var(--spacing-unit);
}

.RequestRow .TagsList {
  max-width: 33%;
  margin-right: var(--spacing-unit-xs);
}

.RequestRow .TagsList > li {
  margin-right: var(--spacing-unit-xs);
}

.RequestRow .InlineMetrics {
  margin-left: auto;
}

.RequestRow-editableWrapper {
  display: flex;
  justify-content: space-between;
}

.RequestRow-editableWrapper .Icon:first-of-type {
  margin-left: auto;
  margin-right: var(--spacing-unit-s);
}

.RequestRow:target {
  border-color: var(--color-focus);
  box-shadow: var(--input-focus-shadow);
}
