<header <%= attrs %>>
  <div class="PageHeader-flexbox">
    <%= content %>

    <% if actions %>
      <div class="PageHeader-actions">
        <%= actions %>
      </div>
    <% end %>
  </div>

  <% if tab_bar %>
    <%= tab_bar %>
  <% end %>
</header>
