.PageHeader {
  background-color: var(--color-gray-light);
  margin-bottom: var(--spacing-unit);
  padding: var(--spacing-unit-l);
  padding-left: var(--limit-max-inner-width);
  padding-right: var(--limit-max-inner-width);
}

.PageHeader-actions {
  display: flex;
  gap: var(--spacing-unit-s);
  font-size: var(--font-size-s);
}

.PageHeader--tabBar {
  padding-bottom: 0;
}

.PageHeader--inheritBackgroundColor {
  background-color: inherit;
  padding-bottom: 0;
}

.PageHeader--wide {
  padding-left: var(--limit-max-inner-width-l);
  padding-right: var(--limit-max-inner-width-l);
}

.PageHeader--largeMarginBottom {
  margin-bottom: var(--spacing-unit-l);
}

.PageHeader--xnarrow {
  padding-left: var(--limit-max-inner-width-xs);
  padding-right: var(--limit-max-inner-width-xs);
}

.PageHeader .PageHeader-flexbox {
  --gap: var(--spacing-unit);

  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.PageHeader--flexboxColumn .PageHeader-flexbox {
  flex-direction: column;
  align-items: flex-start;
}

.PageHeader--flexboxColumn .PageHeader-flexbox > * + * {
  margin-top: var(--spacing-unit-s);
}
