.Excerpt {
  display: flex;
}

.Excerpt-infoWrapper {
  flex-direction: column;
  margin-left: var(--spacing-unit-s);
  flex: 1;
}

.Excerpt-header {
  display: flex;
  align-items: center;
}

.Excerpt-title {
  flex-shrink: 1;
  flex-grow: 0;
}

a.Excerpt:hover .Excerpt-title {
  text-decoration: underline;
}

.Excerpt-date {
  flex-shrink: 0;
  flex-grow: 0;
  font-size: var(--font-size-s);
  color: var(--color-text-light);
  margin-left: var(--spacing-unit-s);
}

.Excerpt-text {
  color: var(--color-text-light);
}
