<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <%= simple_format(@text) %>
    <br>
    <br>
    --
    <br>
    <%= t 'mailer.unsubscribe.html'.html_safe %>
  </body>
</html>
