* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: var(--line-height);
}

html,
body {
  font-size: var(--font-size);
  line-height: var(--line-height);

  background-color: var(--color-bg);
  color: var(--color-text);

  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  flex-grow: 1;
}

input,
button,
textarea {
  font-size: var(--font-size);
  font-family: var(--font-family);
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.turbo-progress-bar {
  height: 2px;
  background-color: var(--color-blue);
  box-shadow: 0 0 2px var(--color-blue-lightest);
}

turbo-frame,
turbo-stream {
  display: block;
}
