:root {
  --font-size: 1.1rem;
  --line-height: 1.6em;
  --font-size-s: 0.85em;
  --font-size-xs: 0.75em;

  --spacing-unit: 1.75rem;
  --spacing-unit-s: calc(0.5 * var(--spacing-unit));
  --spacing-unit-xs: calc(0.25 * var(--spacing-unit));
  --spacing-unit-l: calc(1.5 * var(--spacing-unit));
  --spacing-unit-xl: calc(2 * var(--spacing-unit));

  --grid-max-width: 48rem;
  --grid-max-width-s: 38rem;
  --grid-max-width-xs: 30rem;
  --grid-max-width-l: 56rem;

  --border-radius: 5px;
  --border-radius-s: 3px;
  --border-radius-l: 9px;
  --border-radius-full: 9999px;

  --color-blue: #007eff;
  --color-blue-dark: #1a2d3a;
  --color-blue-light: #7ac8ff;
  --color-blue-lightest: #dbefff;
  --color-turquiose: #a1e1cf;

  --color-blue-gray: #5c9fcb;
  --color-blue-gray-dark: #3d5464;

  --color-green: #67d881;
  --color-green-dark: #0d6b37;
  --color-green-light: #88cc7b;
  --color-green-lightest: #e1f7e6;

  --color-red: #c50834;
  --color-red-light: #f99cb4;
  --color-red-lightest: #ffe2e9;
  --color-red-dark: #79001c;

  --color-yellow-light: #f3e38e;
  --color-yellow-lightest: #fffae0;
  --color-yellow-dark: #92853e;
  --color-yellow-darkest: #5a4d07;

  --color-orange: #f99904;
  --color-orange-lightest: #fdebcf;
  --color-orange-darkest: #884600;

  --color-gray: #868e92;
  --color-gray-light: #e9edf0;
  --color-gray-lightest: #f5f6f9;
  --color-gray-dark: #333;

  --color-pink: #ff00a0;
  --color-pink-dark: #c11361;

  --color-email: var(--color-gray-dark);
  --color-signal: #3a76f0;
  --color-telegram: #0089ce;
  --color-threema: #00862f;

  --color-bg: #fff;
  --color-text: #333;
  --color-text-light: #8d8c8c;
  --color-primary: var(--color-pink);
  --color-accent: var(--color-blue);
  --color-border: #ccc;
  --color-border-light: #dedede;
  --color-focus: var(--color-blue);
  --color-focus-outline: var(--color-blue-light);
  --color-nav-bar: #002332;

  --font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  --font-family-serif: PT Serif;

  --input-border-width: 1px;
  --input-focus-shadow: 0 0 0 3px var(--color-blue-lightest);
  --input-padding: var(--spacing-unit-xs) var(--spacing-unit-s);
  --input-margin: var(--spacing-unit-xs) 0;

  --soft-shadow: 0 0 3px -3px rgba(0, 0, 0, 0.1), 0 3px 15px rgba(0, 0, 0, 0.1);

  --nav-bar-height: calc(2.5 * var(--spacing-unit));

  --limit-max-inner-width: calc(
    max(var(--spacing-unit), (100% - var(--grid-max-width)) / 2)
  );
  --limit-max-inner-width-l: calc(
    max(var(--spacing-unit), (100% - var(--grid-max-width-l)) / 2)
  );
  --limit-max-inner-width-s: calc(
    max(var(--spacing-unit), (100% - var(--grid-max-width-s)) / 2)
  );
  --limit-max-inner-width-xs: calc(
    max(var(--spacing-unit), (100% - var(--grid-max-width-xs)) / 2)
  );
}
