---
- name: Deploy signal-cli REST API health check script
  copy:
    src: files/signal_cli_health_check.sh
    dest: /usr/local/bin/signal_cli_health_check.sh
    mode: '0755'

- name: Setup cronjob to run health check and ping monitoring every minute
  ansible.builtin.cron:
    name: "Signal API health check and monitoring ping"
    minute: "*"
    job: 'SIGNAL_API="{{ signal_cli_rest_api_endpoint }}" SIGNAL_MONITORING_URL="{{ signal_monitoring_url }}" SIGNAL_DOCKER_CONTAINER="ansible-signal-1" /usr/local/bin/signal_cli_health_check.sh'
