<header>
  <h1 class="text-serif text-center"><%= t 'components.telegram_explained.header' %></h1>
  <p role="doc-subtitle" class="text-serif text-center">
    <%= t 'components.telegram_explained.subheader' %>
  </p>
</header>

<section class="TelegramExplained-important-info-section">
  <strong>
    <%= t 'components.telegram_explained.important_info', project_name: Setting.project_name %>
  </strong>
</section>
<%= c 'telegram_widget', jwt: jwt %>
