.TelegramExplained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--grid-max-width-s);
  margin: auto;
}

.TelegramExplained > header {
  margin: var(--spacing-unit-xl)
}

.TelegramExplained h1 {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: var(--spacing-unit);
}
.TelegramExplained-subheader {
  font-size: 1.25rem;
  font-weight: 400;
}

.TelegramExplained-important-info-section {
  background-color: var(--color-red-lightest);
  display: flex;
  align-items: center;
  color: var(--color-red-dark);
  margin-bottom: var(--spacing-unit-xl);
  padding: var(--spacing-unit-xs);
  padding-left: var(--spacing-unit);
  border-radius: var(--border-radius);
}

.TelegramExplained-important-info-section > .Icon {
  font-size: calc(2 * var(--spacing-unit-xl));
}

.TelegramExplained-important-info-header {
  margin-left: var(--spacing-unit);
  font-size: 1.5rem;
  line-height: 1.5rem;
}