<article
  data-controller="contributors-status-bar"
  data-contributors-status-bar-contributors-status-value="<%= percentage_of_contributors_of_business_plan_used %>"
  <%= attrs %>
>
  <span
    data-contributors-status-bar-target="statusBar"
  ></span>
</article>
