.ContributorsStatusBar {
  flex-basis: 50%;
  height: var(--spacing-unit);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  position: relative;
}

.ContributorsStatusBar span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
  background-color: blue;
  transition-property: width;
  transition-duration: 2s;
  transition-delay: 1s;
}
