.ImageInput {
  display: flex;
  padding: var(--spacing-unit-xs);
  align-items: center;
  background-color: var(--color-gray-lightest);
  border-radius: var(--border-radius);
}

.ImageInput-icon,
.ImageInput-preview {
  display: block;
  width: calc(2 * var(--spacing-unit));
  height: calc(2 * var(--spacing-unit));
}

.ImageInput-preview {
  margin-right: var(--spacing-unit-xs);
  object-fit: contain;
  background-color: #fff;
  border-radius: var(--border-radius-s);
}

.ImageInput-icon {
  padding: var(--spacing-unit-s);
  color: var(--text-color-light);
}
