.UserRow {
  display: flex;
  align-items: center;
}

a.UserRow:hover .UserRow-name {
  text-decoration: underline;
}

.UserRow-channels {
  margin-left: 0.25em;
}

.UserRow-avatar {
  margin-right: var(--spacing-unit-s);
}

.UserRow-note {
  color: var(--color-text-light);
}

.UserRow-channels {
  color: var(--color-accent);
}
