.UserRow {
  display: flex;
  padding: var(--spacing-unit) 0;
}

.UserRow + .UserRow {
  border-top: 2px solid var(--color-border);
}

.UserRow-main {
  display: flex;
  flex-flow: column;
  padding: 0 var(--spacing-unit);
}

.UserRow-name {
  font-weight: 600;
}

.UserRow-note {
  padding-top: var(--spacing-unit);
  color: var(--color-text-light);
}
