---
- hosts: webservers
  become: yes
  vars:
    create_password: "{{ vps.sudo_password }}"
    copy_additional_keys: "{{ webservers.authorized_keys }}"
    sysctl_overwrite:
      # Enable IPv4 traffic forwarding.
      # See: https://github.com/dev-sec/ansible-os-hardening/tree/master/roles/os_hardening#docker-support
      net.ipv4.ip_forward: 1
  collections:
    - devsec.hardening
  roles:
    - role: devsec.hardening.ssh_hardening
    - role: devsec.hardening.os_hardening
      vars:
        ufw_enable_ipv6: false
        # Effectively disable password expiration
        os_auth_pw_max_age: 99999
    - role: initial_setup
    - role: gantsign.inotify
      inotify_max_user_watches: 524288
    - role: geerlingguy.docker
      docker_packages_state: latest
      vars:
        docker_users:
          - ansible
    - role: installation
      tags:
        - hundred-eyes
