<a class="Tile" href="<%= url %>">
    <div class="Tile-icon">
        <%= c 'icon', icon: icon %>
    </div>
    <span class="Tile-action"><%= action %></span>
    <span class="Tile-subject"><%= subject %></span>
</a>
