.ContributorRow {
  display: flex;
  align-items: center;
}

a.ContributorRow:hover .ContributorRow-name {
  text-decoration: underline;
}

.ContributorRow-avatar {
  margin-right: var(--spacing-unit-s);
}

.ContributorRow-channels {
  margin-left: 0.25em;
  color: var(--color-gray);
  font-size: var(--font-size-s);
}
