.ContributorRow {
  display: flex;
  align-items: center;
}

a.ContributorRow:hover .ContributorRow-name {
  text-decoration: underline;
}

.ContributorRow-channels {
  margin-left: 0.25em;
}

.ContributorRow-avatar {
  margin-right: var(--spacing-unit-s);
}

.ContributorRow-channels {
  color: var(--color-accent);
}

.ContributorRow--inactive .ContributorRow-channels {
  color: var(--color-gray);
}
