.Message {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  padding: var(--spacing-unit-xs) var(--spacing-unit-s);
  border: 1px solid var(--color-border);
  border-radius: calc(3 * var(--border-radius));
}

.Message-date {
  color: var(--color-text-light);
  font-size: var(--font-size-s);
}
