<div class="Message">
  <div class="Message-text">
    <%= message.text %>
  </div>
  <div class="Message-date">
    <%= t '.message_date', time_ago: time_ago_in_words(message.created_at, scope: 'datetime.distance_in_words.vor') %>
  </div>
</div>
