<div class="Message">
  <% unless photos.empty? %>
    <div class="Message-photos">
      <% photos.each do |photo| %>
        <img src="<%= url_for(photo.image) %>" alt="">
      <% end %>
    </div>
  <% end %>
  <div class="Message-text">
    <%= message.text %>
  </div>
  <div class="Message-date">
    <%= t 'time_ago', time_ago: time_ago_in_words(message.created_at) %>
  </div>
</div>
