#############################
Available backups are:

{% for folder in backup_directories_ordered %}
{{ loop.index }}. {{ folder.path }}
{% endfor %}

#############################

Type in index of backup
