#############################
Available hosts are:

{% for folder in backup_hosts.files|sort(attribute='path', case_sensitive=False) %}
{{ loop.index }}. {{ folder.path }}
{% endfor %}

#############################

Type in index of host
