#############################
Available backups are:

{% for folder in backup_directories.files|sort(attribute='path', case_sensitive=False,reverse=True) %}
{{ loop.index }}. {{ folder.path }}
{% endfor %}

#############################

Type in index of backup
