.SetOrganizationForm select {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  width: 100%;
  padding: var(--input-padding);

  font-size: inherit;
  color: inherit;
  border-radius: var(--border-radius);
  border: var(--input-border-width) solid var(--color-border);
}
