<div
  class="<%= class_attr %>"
  data-controller="notification"
>
  <%= @content %>
  <% if show_close %>
    <button
      data-action="notification#close"
      class="Notification-close"
      title="<%= I18n.t 'close' %>"
    >
      <%= c 'icon', icon: 'i-remove', style: :inline %>
    </button>
  <% end %>
</div>
