<li>
  <% case result.class.to_s %>
  <% when 'User' %>
    <%= c 'button', label: result.name , styles: [:link], link: user_path(result) %>
  <% when 'Reply' %>
    <%= c 'button', label: result.text , styles: [:link], link: user_request_path(result.user, result.request) %>
  <% end %>
</li>
