.ChatMessage {
  --background: var(--color-gray-light);
  background-color: var(--background);
  padding: calc(1 / 3 * var(--spacing-unit)) var(--spacing-unit-s);
  border-radius: var(--border-radius-l);
  border: 1px solid transparent;
}

.ChatMessage:target {
  border-color: var(--color-focus);
  box-shadow: var(--input-focus-shadow);
}

.ChatMessage-text {
  position: relative;
}

.ChatMessage--compact:not(.ChatMessage--expanded) .ChatMessage-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ChatMessage-toggleExpanded {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  padding-left: var(--spacing-unit-l);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    var(--background) var(--spacing-unit)
  );
}

.ChatMessage-collapse,
.ChatMessage--expanded .ChatMessage-expand {
  display: none;
}

.ChatMessage--expanded .ChatMessage-collapse {
  display: initial;
}

.ChatMessage--truncated .ChatMessage-toggleExpanded {
  display: block;
}

.ChatMessage-meta {
  color: var(--color-text-light);
  font-size: var(--font-size-s);
}

.ChatMessage-meta > * + * {
  display: inline-block;
  margin-left: var(--spacing-unit-s);
}

.ChatMessage-warnings {
  color: var(--color-red);
}

.ChatMessage--highlighted {
  --background: var(--color-yellow-lightest);
  color: var(--color-yellow-darkest);
  border-color: var(--color-yellow-light);
}

.ChatMessage--highlighted .ChatMessage-meta:not(.ChatMessage-warnings) {
  color: var(--color-yellow-dark);
}

.ChatMessage-unhighlight,
.ChatMessage--highlighted .ChatMessage-highlight {
  display: none;
}

.ChatMessage--highlighted .ChatMessage-unhighlight {
  display: initial;
}
