.ChatMessage {
  background-color: var(--color-gray-light);
  padding: var(--spacing-unit-xs) var(--spacing-unit-s);
  border-radius: var(--border-radius-l);
  border: 1px solid transparent;
}

.ChatMessage:target {
  border-color: var(--color-focus);
  box-shadow: var(--input-focus-shadow);
}

.ChatMessage-text {
  position: relative;
}

.ChatMessage--compact:not(.ChatMessage--expanded) .ChatMessage-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ChatMessage-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  padding-left: var(--spacing-unit-l);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    var(--color-gray-light) var(--spacing-unit)
  );
}

.ChatMessage-collapse,
.ChatMessage--expanded .ChatMessage-expand {
  display: none;
}

.ChatMessage--expanded .ChatMessage-collapse {
  display: initial;
}

.ChatMessage--truncated .ChatMessage-toggle {
  display: block;
}

.ChatMessage-meta {
  color: var(--color-text-light);
  font-size: var(--font-size-xs);
}

.ChatMessage-meta > * + * {
  display: inline-block;
  margin-left: var(--spacing-unit-s);
}

.ChatMessage-warnings {
  color: var(--color-red);
}

.ChatMessage-copied,
.ChatMessage--copied .ChatMessage-copy {
  display: none;
}

.ChatMessage--copied .ChatMessage-copied {
  display: initial;
  color: var(--color-green-dark);
}
