name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RUBYOPT: "-W:no-deprecated"
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432

    services:
      postgres:
        image: postgres:12.2
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: app_test
        ports: [ "5432:5432" ]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install ruby
        uses: actions/setup-ruby@v1
        with: { ruby-version: 2.7.2 }

      - name: Cache Ruby dependencies
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gems-

      - name: Install Ruby dependencies
        run: |
          gem install bundler
          bundle config set path 'vendor/bundle'
          bundle install

      - name: Cache NPM dependencies
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('yarn.lock') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Install NPM dependencies
        run: yarn install

      - name: Build packs
        run: bin/rails webpacker:compile

      - name: Run database migrations
        run: bin/rails db:migrate

      - name: Run rubocop
        run: bundle exec rubocop

      - name: Run prettier
        run: yarn prettier-check

      - name: Run tests
        run: bin/rake spec
