.Input {
  position: relative;
  width: 100%;
}

.Input > input {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  width: 100%;
  padding: var(--input-padding);

  font-size: inherit;
  color: inherit;
  border-radius: var(--border-radius);
  border: var(--input-border-width) solid var(--color-border);
}

.Input > input:focus {
  border-color: var(--color-focus);
  outline: none;
  box-shadow: var(--input-focus-shadow);
}

.Input--error > input {
  border-color: var(--color-red);
  box-shadow: 0 0 0 1px var(--color-red);
}

.Input--inverted {
  color: rgba(255, 255, 255, 0.8);
}

.Input--inverted:focus-within {
  color: var(--color-text);
}

.Input--inverted > input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.Input--inverted > input::placeholder,
.Input--inverted > input {
  color: inherit;
}

.Input--inverted > input:focus {
  background: #fff;
}

.Input > input[disabled] {
  cursor: not-allowed;
  border-style: dashed;
}

.Input--icon > .Icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--spacing-unit-s);
  pointer-events: none;
}

.Input--icon > input {
  padding-left: calc(1em + var(--spacing-unit-s) + var(--spacing-unit-xs));
}
