.Input {
    -webkit-appearance: none;
    -moz-appearance: none;

    display: block;
    width: 100%;
    padding: var(--input-padding);

    border-radius: var(--border-radius);
    border: var(--input-border-width) solid var(--color-border);

    resize: none;
}

.Input:focus {
    border-color: var(--color-focus);
}

.Input--center {
    text-align: center;
}

.Input--clickToEdit {
    padding-top: var(--spacing-unit-xs);
    padding-bottom: var(--spacing-unit-xs);
}

.Input--clickToEdit:not(:focus):not(:active):not(:hover) {
    border-color: transparent;
}

.Input--heading {
    font-size: 1.5rem;
    font-weight: 500;
}
